apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "<your-aruba-api-key>",
      "api_secret": "<your-aruba-api-secret>"
    }
