apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "client_id": "<your-aruba-client-id>",
      "client_secret": "<your-aruba-client-secret>"
    }
